<div>
    <time-report-item></time-report-item>
    <time-report-item></time-report-item>
    <time-report-item></time-report-item>
</div>

<!--<div class="panel panel-default jobCard-Detail" *ngIf="item$" >-->
<!--<div class="panel-heading tab-header">-->
<!--<div class="JobCardHeader">-->
<!--<button (click)="slideIn()">-->
<!--<i class="pop glyphicon glyphicon-menu-left"></i>-->
<!--</button>-->
<!--<div>-->
<!--<label class="tab-header-text">-->
<!--Time Report-->
<!--</label>-->
<!--</div>-->
<!--<button (click)="save()">-->
<!--<i class="pop glyphicon glyphicon-menu-left"></i>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--{{"Job Card " + item$.DocNum}}-->
<!--</div><hr>-->
<!--<section>-->
<!--<div id="JCHeader">-->
<!--<div class="table-responsive table-condensed borderless container-fluid">-->
<!--<div class="col-lg-5 col-md-8 col-sm-10 col-xs-12">-->
<!--<job-card-item-header></job-card-item-header>-->
<!--</div>-->
<!--</div>-->
<!--<div style="clear: both;"></div>-->
<!--</div>-->
<!--<div id="JCBody">-->
<!--<job-card-item-body></job-card-item-body>-->
<!--</div>-->
<!--</section>-->
<!--</div>-->