<div>
  <ul class="list-group no-margin container-fluid">
    <template ngFor let-item let-index="index" [ngForOf]="items$">
      <li
        class="list-group-item li-checkList"
        *ngIf="item.U_TaskName"
        role="presentation"
      >
        <label class="col-xs-5">
          &nbsp;{{ item.U_TaskName }}
        </label>
        <div class="btn-check-list col-xs-7">
          <button type="button" class="btn btn-circle" (click)="confirm(item.LineId)">
            <i class="glyphicon glyphicon-ok-sign" [class.green]="item.isOrderConfirmed"></i>
          </button>
          <button type="button" class="btn btn-circle" (click)="decline(item.LineId)">
            <i class="glyphicon glyphicon-remove-sign" [class.red]="item.isOrderDeclined"></i>
          </button>
          <button type="button" class="btn btn-circle" (click)="question(item.LineId)">
            <i class="glyphicon glyphicon-question-sign" [class.yellow]="item.isOrderHaveQuestion"></i>
          </button>
          <button type="button" class="btn btn-circle" (click)="comment($event);">
            <i class="glyphicon glyphicon-plus-sign" [class.DarkMagenta]="item.U_Notes"></i>
          </button>

          <label type="button" class="btn btn-circle camera-label">
            <input type="file" accept="image/*;capture=camera" (change)="Change($event)">
            <i class="glyphicon glyphicon-camera"></i>
          </label>
          <textarea
            class="input-note" type="text"
            [class.display-table-row-group]="commentActive && selected == item"
            [(ngModel)]='item.U_Notes'
            (mouseleave)="saveComment(item)"
          ></textarea>
        </div>
      </li>
    </template>
  </ul>
</div>