<div id="JCHeader">
  <div class="table-responsive table-condensed borderless container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table class="table tree gridviewTable">
        <tbody>
          <tr class="treegrid-10 treeGridRoot">
            <td colspan="4" class="center">
              <span class="header-issue">Issue All</span>
              <h4 class="h4-big-font">Parts Issue</h4>
              <span class="header-save">Save</span>
            </td>
          </tr>
          <tr class="treegrid-0 grey-border">
            <td colspan="4" class="center">
              <h4 class="header-status">&nbsp; 1000440 - Neuer Auftrag</h4>
            </td>
          </tr>
          <tr class="treegrid-14 treegrid-parent-0">
            <td class="col-xs-6" colspan="2">
              <h5>&nbsp;Mercedes, VIANO 2.2 CDI 4x4 </h5>
            </td>
            <td class="col-xs-3"></td>
            <td class="col-xs-3"></td>
          </tr>
          <tr class="treegrid-14 treegrid-parent-0">
            <td class="col-xs-3">
              <h5>&nbsp;Plate: CH 17456</h5>
            </td>
          </tr>
          <tr class="treegrid-14 treegrid-parent-0">
            <td class="col-xs-3">
              <h5>&nbsp;Max Mustermann</h5>
            </td>
            <td class="col-xs-3">
              <h5>&nbsp;050-xxxxxxx</h5>
            </td>
          </tr>
          <tr class="treegrid-14 treegrid-parent-0">
            <td class="col-xs-2">
              <h5>&nbsp;Entriy Date: 11/12/2016 </h5>
            </td>

            <td class="col-xs-2">
              <h5>&nbsp;Due Date:  11/12/2017</h5>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <h5>
          Cart Number: <span style="color:green">555</span>
          <img src="../images/Cart.png" />
        </h5>
      </div>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-2 hidden-xs"></div>
  </div>
  <div style="clear: both;"></div>
</div>