<div>
    <div class="header">
        <div class="switch-tabs">
            <div class="switch-item">
                <label class="switch-item-label">Concerns</label>
                <img class="switch-img" src="../images/CC.png"/>
            </div>
            <div class="switch-item">
                <label class="switch-item-label">Packages</label>
                <img class="switch-img" src="../images/Packages.png"/>
            </div>
            <div class="switch-item">
                <label class="switch-item-label">Parts</label>
                <img class="switch-img" src="../images/parts.png"/>
            </div>
            <div class="switch-item">
                <label class="switch-item-label">Oils</label>
                <img class="switch-img" src="../images/Oils.png"/>
            </div>
        </div>
        <div class="sort-tabs">
            <label class="tab">Quantity</label>
            <label class="tab">Issued</label>
            <label class="tab">Qty to Issue</label>
        </div>
    </div>
    <div class="main">
        <div *ngFor="let mainTab of mainTabs$">
            <drop-down-tab-main [mainTab]="mainTab"></drop-down-tab-main>
        </div>
        <!--<div class="dropDownTabMain">CC Code - Customer Concern Description 1</div>-->
    </div>
</div>