<div id="TabView">
  <div id="TabViewGlobal" class="col-xs-12">
    <div class="table-responsive table-condensed container-fluid">
      <table class="table tree gridviewTable">
        <tr>
          <td>
            <table class="GridViewFilterTable">
              <tr>
                <td>Customer<br />Concerns</td>
                <td>Packages</td>
                <td></td>
                <td>Parts</td>
                <td >Oils</td>
              </tr>
              <tr>
                <td>
                  <img src="../images/CC.png" />
                </td>
                <td>
                  <img src="../images/Packages.png" />
                </td>
                <td>&nbsp;</td>
                <td>
                  <img class="img-responsive" src="../images/parts.png" />
                </td>
                <td >
                  <img class="img-responsive" src="../images/Oils.png" />
                </td>
              </tr>
            </table>
          </td>
          <td>Quantity</td>
          <td>Issued</td>
          <td>Qty to Issue</td>
        </tr>
        <tr class="treegrid-1 treeGridRoot">
          <td colspan="4" class="tdDescription">CC Code - Customer Concern Description 1</td>
        </tr>
        <tr class="treegrid-3 treegrid-parent-1">
          <td colspan="4" class="tdDescription pad-top-bottom indent-arrow">Package Description</td>
        </tr>
        <tr class="treegrid-4 treegrid-parent-3">
          <td class="tdDescription td-image">
            <img src="../images/parts.png" />PartCode - Part
          </td>
          <td>5</td>
          <td>3</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-4 treegrid-parent-3" style="color: grey">
          <td class="tdDescription td-image">
            <img src="../images/parts_grey.png" />Part3333 - Coil
          </td>
          <td>5</td>
          <td>5</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-4 treegrid-parent-3">
          <td class="tdDescription td-image">
            <img src="../images/Labor.png" />Labor Code - Labor Description XYCkdkdidkdkldkl…
          </td>
          <td>5</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="treegrid-4 treegrid-parent-3">
          <td class="tdDescription td-image">
            <img src="../images/Labor.png" />Labor39387 - Coil Replacement
          </td>
          <td>5</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="treegrid-4 treegrid-parent-3">
          <td class="tdDescription td-image">
            <img src="../images/Oils.png" />Oil Code - Oil Description
          </td>
          <td>5</td>
          <td>3</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-4 treegrid-parent-3">
          <td class="tdDescription td-image">
            <img src="../images/Oils.png" />Oil30392 - Coil XXXdd
          </td>
          <td>5</td>
          <td>3</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-5 treegrid-parent-1">
          <td colspan="4" class="tdDescription pad-top-bottom top-grey-border">Additional </td>
        </tr>
        <tr class="treegrid-6 treegrid-parent-5">
          <td class="tdDescription td-image">
            <img src="../images/Labor.png" />Labor3332
          </td>
          <td>5</td>
          <td></td>
          <td></td>
        </tr>
        <tr class="treegrid-6 treegrid-parent-5">
          <td class="tdDescription td-image">
            <img src="../images/Oils.png" />Oil392382
          </td>
          <td>5</td>
          <td>3</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-6 treegrid-parent-5">
          <td class="tdDescription td-image">
            <img src="../images/Oils.png" />Oil392382
          </td>
          <td>5</td>
          <td>3</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-6 treegrid-parent-5">
          <td class="tdDescription td-image">
            <img src="../images/Sublet.png" />Sublet 111111323kjdkd sk
          </td>
          <td>5</td>
          <td>3</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-7 treeGridRoot">
          <td colspan="4" class="tdDescription top-grey-border">
            CC38338 - Vehicle 10k Service
          </td>
        </tr>

        <tr class="treegrid-7 treeGridRoot">
          <td colspan="4" class="tdDescription">
            CC38338 - Vehicle 10k Service
          </td>
        </tr>
        <tr class="treegrid-parent-7">
          &nbsp;
        </tr>
        <tr class="treegrid-8 treeGridRoot">
          <td colspan="4" class="tdDescription">
            CC55646 - Water pump replacement
          </td>
        </tr>
        <tr class="treegrid-parent-8">
          &nbsp;
        </tr>
        <tr class="treegrid-9 treeGridRoot">
          <td colspan="4" class="tdDescription">
            CC39833 - Paint Job
          </td>
        </tr>
        <tr class="treegrid-10 treegrid-parent-9">
          <td colspan="4" class="tdDescription pad-top-bottom">Basic Paint package</td>
        </tr>
        <tr class="treegrid-11 treegrid-parent-10">
          <td colspan="4" class="tdDescription">Basic Paint package</td>
        </tr>
        <tr class="treegrid-12 treegrid-parent-9">
          <td colspan="4" class="tdDescription pad-top-bottom">Additional </td>
        </tr>
        <tr class="treegrid-13 treegrid-parent-12">
          <td class="tdDescription td-image">
            <img src="../images/parts.png" />P39373 - Silver Paint
          </td>
          <td>5</td>
          <td>3</td>
          <td class="tdinput"><input /></td>
        </tr>
        <tr class="treegrid-13 treegrid-parent-12">
          <td class="tdDescription td-image">
            <img src="../images/Labor.png" />L39733 - Painting
          </td>
          <td>5</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>