.container {
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.switch-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.switch-img {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
}

.switch-tabs .switch-item {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.switch-item-label {
  font-size: 12px;
  color: #0077c2;
  font-weight: 100;
}

.sort-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  padding-right: 20px;
}

.sort-tabs .tab {
  color: #0067a1;
}

.main {
  display: flex;
  flex-direction: column;
}

.dropDownTabMain {
  cursor: pointer;
  background-color: #126EB9;
  height: 30px;
  color: white;
  text-align: left;
}

.dropDownTab {
  height: 25px;
  width: 25px;
  color: white;
  text-align: left;
}

.dropDownTabInternal {
  cursor: pointer;
  height: 30px;
  color: #0067a1;
  text-align: left;
}

.line {
  height: 1px;
  color: #DDDDDD;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-img {
  max-height: 30px;
  padding: 0 10px 0 30px;
}

.detail-label {
  display: flex;
  align-self: center;
}

.arrow-down-white {
  background: transparent;
  border-radius: 8px;
  position: relative;
  color: #fff;
}

.arrow-down-white::after {
  content: '';
  position: absolute;
  right: 7px; bottom: -20px;
  border: 6px solid transparent;
  border-top: 10px solid white;
}

.arrow-left-white {
  background: transparent;
  border-radius: 8px;
  position: relative;
  color: #fff;
}

.arrow-left-white::after {
  content: '';
  position: absolute;
  right: 10px; bottom: -15px;
  border: 6px solid transparent;
  border-right: 10px solid white;
}

.issue-line {
  height: 1px;
  margin-bottom: 0;
  margin-top: 1px;
  background: #dddddd;
}

.internal-tab-line {
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  background: #808080;
}

.detail .quantity {
  display: flex;
  width: 260px;
  padding-right: 25px;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
}

.detail > div {
  display: flex;
  flex-direction: row;
}

.quantity-to-issue-input {
  width: 70px;
  color: #0067a1;
}

.quantity-value {
  padding-right: 10px;
  color: #0067a1;
}