.panel {
  height: 100%;
  background-color: #DEF1F2;
}

.jobCard-Detail {
  overflow: auto;
  padding-bottom: 20px;
}

.JobCard {
  background: lightblue;
  padding-bottom: 10px;
}

.tab-header {
  background: #126EB9;
  padding-bottom: 10px;
}

.tab-header-text{
  font-weight: 100;
  color: white;
}

.pop.glyphicon:hover,
.pop.glyphicon:focus {
  font-size: 28px;
}

#JCHeader {
  margin-top: -5px;
}

#JCHeader * {
  text-align: left;
  /*padding-left: 5px;*/
}

#JCHeader padd-bottom {
  padding-bottom: 10px;
}

#JCHeader .table td {
  white-space: nowrap;
}

#JCHeader .table > tbody > tr > td{
  padding-top: 1px;
  padding-bottom: 1px;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }

  #JCHeader .table-responsive,
  #JCHeader .table {
    margin-bottom: 2px;
  }
}

.header-docnum-line {
  height: 1px;
  margin-top: 3px;
  background: #D5D5D5;
}

.drop-down-tab-button {
  cursor: pointer;
}

.arrow-down {
  background: transparent;
  border-radius: 8px;
  position: relative;
  color: #fff;
}

.arrow-down::after {
  content: '';
  position: absolute;
  right: 7px; bottom: -24px;
  border: 6px solid transparent;
  border-top: 10px solid #BABABB;
}

.arrow-left {
  background: transparent;
  border-radius: 8px;
  position: relative;
  color: #fff;
}

.arrow-left::after {
  content: '';
  position: absolute;
  right: 10px; bottom: -20px;
  border: 6px solid transparent;
  border-right: 10px solid #BABABB;
}

.cart-number {
  padding-left: 8px;
  padding-top: 15px;
  padding-bottom: 10px;
}

