.JobCardHeader {
  position: relative;
  height: 18px;
}

.JobCardHeader .glyphicon {
  font-size: 25px;
}

.JobCardHeader .slideIn,
.JobCardHeader .slideIn:focus {
  position: absolute;
  left: 0px;
  background: inherit;
  border: 0;
  outline-style: none;
  display: none;
}

.JobCardHeader.master {
  text-align: left;
  padding-bottom: 33px;
  border-bottom: 1px solid #c1c1c1;
}

.JobCardHeader.master button {
  display: inherit;
  padding: 7px 0 0 0;
  z-index: 5;

  background: inherit;
  border: none;
}

.JobCardHeader.master .glyphicon {
  display: inline;
  top: -8px;
  position: relative;
  padding: 0 3px;
}

.JobCardHeader.master .glyphicon:hover {
  background: lightgray;
}

.filter-header {
  display: block;
  text-align: center;
  align-self: stretch;
  position: relative;
  padding-bottom: 0;
}

.JobCardHeader .save-button {
  position: absolute;
  color: white;
  background: inherit;
  border: 0;
  top: 0;
  bottom: 0;
  right: 40px;
  outline-style: none;
}

.JobCardHeader .issue-all {
  position: absolute;
  color: white;
  background: inherit;
  border: 0;
  top: 0;
  bottom: 0;
  left: 30px;
  outline-style: none;
}

@media (max-width: 767px) {
  .JobCardHeader button {
    display: initial !important;
  }
}
