<div class="panel panel-default">
	<div class="panel-heading">
		<div class="JobCardHeader master">
			<div class="col-xs-2">
				<button routerLink="/dashboard" routerLinkActive="active" Id="Anc">
					<i class="glyphicon glyphicon-arrow-left"></i>
				</button>
			</div>
			<div class="col-xs-2" (click)="refreshList()">
				<button >
					<i class="glyphicon glyphicon-refresh"></i>
				</button>
			</div>
			<div class="filter-header col-xs-6">
				<h3>{{ selecterFilter }}</h3>
			</div>
			<div class="col-xs-2 dropdown-filter-div">
			<button class="dropdown">
                <i class="glyphicon glyphicon-filter dropdown dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>-->                        
                </i>
				<ul class="dropdown-menu filter">
                            <li *ngFor="let filter of filterOptions">
								<a tabindex="-1" (click)="pickFilter(filter)">
									{{ filter }}
								</a>
							</li>
                        </ul>
            </button>
			</div>
		</div>
		<div class="search-lvl1">
			<div class="search-lvl2">
				<div class="search-lvl3">
					<form name="searchForm" method="post" class="search-form" #searchForm="ngForm" >
                        <span (click)="preformSearch()" class="search-icon"><i class="glyphicon glyphicon-search"></i></span>
						<span class="search-icon"><a href="com.yscannerapp://ScanBarcode-activity">
						<i class="glyphicon glyphicon-qrcode" Id="qr"></i></a></span>
						<!--<span class="search-reset"><i class="glyphicon glyphicon-remove-circle"></i></span>-->
						<input type="search" class="search-input" placeholder="Search" 
                        [(ngModel)]='searchVal' name="searchInput" (keyup.enter)="preformSearch()"/>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<ul class="nav nav-pills nav-stacked ul-master">
		<li *ngFor="let item of jobItems" role="presentation" [class.active]="selected == item">
			<a (click)="pick(item)">
				<h4>{{ item.DocNum }}</h4>
				<p>
					{{ item.U_OwnBPN }} {{ item.U_Status }} {{ item.U_MdlCode }} {{ item.U_LicNum }} {{ item.U_EntryDt }}
				</p>
			</a>
		</li>
		<li>
			<div>
				<button class="page-button" type="button" (click)="prev()" [class.disabled]="!HasPrev" [class.btn-primary]="HasPrev" [class.btn-default]="!HasPrev">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                    </button>
				<button class="page-button btn-primary" type="button" (click)="next()" [class.disabled]="!HasNext" [class.btn-primary]="HasNext"
					[class.btn-default]="!HasNext">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
			</div>
		</li>
	</ul>
</div>